/*----reset----*/
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Atma", system-ui !important; 
}




/*---HEADER----*/
header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-background {
    background-color: black;
}

nav img {
    height: 110px;
}

.navbar-toggler {
    font-size: 15px;
    background-color: white !important;
}

nav div button {
    color: white !important;
}

nav div div ul li a {
    color: white !important;
    font-size: 18px !important;
    font-weight:500 !important;
}



/*!----------------------------------MAIN-----------------------------*/



.hero {
    color: white;
    background-image: url(../img/Fondo-hero.jpeg);
    width: 100%;
    height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero a button{
    font-size: 20px;
    padding: 10px 50px;
}


.hero h1 {
    font-weight: 500;
    font-size: 55px;
    border: yellow 3px solid;
    padding: 10px;
    margin-bottom: 40px;
    background-color: rgba(15, 15, 15, 0.397);
}

.hero h2 {
    font-weight: 500;
    font-size: 55px;
    border: yellow 3px solid;
    padding: 10px;
    margin-bottom: 40px;
    background-color: rgba(15, 15, 15, 0.397);
}

.hero h1 span:nth-child(1) {
    color: rgb(251, 255, 28);
}

.hero h1 span:nth-child(2) {
    color: rgba(240, 17, 17, 0.877);
}

.hero h1 span:nth-child(3) {
    color: rgb(236, 72, 241);
}

.hero h1 span:nth-child(4) {
    color: rgb(84, 206, 243);
}

.hero p {
    font-weight: 500;
    font-style: normal;
    background-color: rgba(27, 94, 66, 0.425);
    color: white;
    font-size: 25px;
    font-style: italic;
}


h3 {
    text-align: center;
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-size: cover;    height: 80px;
    color: rgb(12, 12, 12);
    font-weight: 600;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tarjetas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.box {
    background: linear-gradient(50deg, rgba(56, 56, 56, 0.288), white);
    width: 300px;
    height: 450px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -3px 12px 39px -2px rgba(0,0,0,0.72);
    -webkit-box-shadow: -3px 12px 39px -2px rgba(0,0,0,0.72);
    -moz-box-shadow: -3px 12px 39px -2px rgba(0,0,0,0.72);
    transition: 0.3s;
    transition-delay: 0.3s;
}

.box:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}




.box img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}



.box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box div button {
    transition: 1s;
}
.box div button:hover {
    color: rgb(255, 255, 255);
}


.box div button a {
    color: black;
    list-style: none;
    text-decoration: none;
}






/*!-----------------------------FOOTER---------------------------------*/





footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer ul li {
    margin: 25px;
    list-style: none;
}


footer ul li a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}


footer a i {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
}















/*!----------------------------PAGINA EVENTOS----------------------------*/




.eventos-r {
    background: linear-gradient(50deg, rgba(56, 56, 56, 0.288), white);
    border: 2px rgb(78, 78, 78) solid;
    margin: 20px;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}


.eventos-r div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.eventos-r img {
    padding: 5px;
    height: 100%;
}


.eventos-r p {
    font-size: 20px;
    text-align: center;
}


.eventos-r div a {
    margin: 20px;
    background: linear-gradient(45deg,blue, rgba(16, 177, 16, 0.856));
    color: white;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}


.eventos1 {
    background: linear-gradient(50deg, rgba(56, 56, 56, 0.288), white);
    border: 2px rgb(78, 78, 78) solid;
    margin: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.eventos1 p {
    font-size: 20px;
    text-align: center;
}


.eventos1 div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventos1 div a {
    margin: 20px;
    background: linear-gradient(45deg,blue, rgba(16, 177, 16, 0.856));
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.eventos1 div a:hover {
    background: linear-gradient(45deg,  rgba(16, 177, 16, 0.856), blue);
}

.eventos-r div a:hover {
    background: linear-gradient(45deg,  rgba(16, 177, 16, 0.856), blue);
}


.eventos1 img {
    padding: 5px;
    height: 100%;
}





/*!---------------------------------NOSOTROS-----------------------------!*/



.nosotros {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.nosotros div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.nosotros div p {
    margin: 20px;
    font-weight: 600;
    font-size: 24px;
}

.nosotros div img {
    height: 600px;
    border-radius: 15px;
}

.nosotros div i {
    font-size: 40px;
}

.nosotros div a button {
    border: solid 1px grey;
    color: black;
    border-radius: 5px;
    padding: 8px 50px;
}

.nosotros div a {
    font-size: 20px;
}









/*!----------------------------Estacion del arte-------------------------*/
.e-banner {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e-banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/backgroun-estacion.JPG);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}


.text-banner {
    width: 500px;
    height: 500px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
    font-size: 18px;
    position: relative;
}

.e-imagen {
    display: flex;
    justify-content: space-around;
}

.e-imagen img {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    opacity: 0.8;
}

.formu {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.formu p {
    font-size: 25px;
}

.formu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/*!------------------------------Contacto--------------------------!*/

.logo {
    display: flex;
    justify-content: center;
    margin: 30px;
}


.logo img{
    height: 30px;
    margin: 5px;
}


.formulario div {
    margin: 10px;
}





/*!---------------------GALERIA DE FOTOS-----------------*/

.grid-galeria {
    width: 100%;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 20px;
    margin-bottom: 30px;
}


.grid-item {
    position: relative;
}


.grid-item h4 {
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 0; 
    margin: 0;
    color: rgba(255, 255, 255, 0.534);
    background-color: #0000008f;
    width: 100%;
}


.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    box-shadow: -8px 8px 15px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 8px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 8px 15px -5px rgba(0,0,0,0.75);
}

.img-2 {
    grid-row: span 2;
    grid-column: span 2;
}


.img-4 {
    grid-row: span 2;
}



.img-7 {
    grid-row: span 2;
}




.img-11 {
    grid-row: span 2;
}

.img-12 {
    grid-row: span 2;
}

.img-13{
    grid-row: span 2;
}

.img-14 {
    grid-row: span 2;
}



















/*!------------------RESPONSIVE  / MEDIA----------------*/


/*--------------Index---------------*/



@media screen and (max-width:1040px) {
    nav div div ul li a {
        font-size: 16px !important;
    } 
    .hero h1 {
        font-size: 50px;
        padding: 10px;
        margin-bottom: 40px;
    }
    .hero p {
        font-size: 23px;
    }
}



@media screen and (max-width:860px) {
    

    footer ul li {
        margin: 10px;
        list-style: none;
    }

    
}

@media screen and (max-width:776px){
    header{
        position: static;
    }
    .hero h1 {
        font-size: 40px;
        padding: 5px;
        margin-bottom: 20px;
    }
    .hero p {
        font-size: 20px;
    }
    footer{
        height: auto;
    }
    footer ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    footer ul li {
        margin: 3px;
        list-style: none;
    }
    footer ul li a {
        margin: 18px;
        font-size: 15px;
    }
}


@media screen and (max-width:680px) {
    .hero h1 {
        font-size: 35px;
    }
    .hero p {
        font-size: 15px;
    }
    h2{
        font-size: 20px;
    }

}






/*----------------RESPONSIVE - GALERIA DE FOTOS---------------*/

@media screen and (max-width:1150px) {
    .grid-galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 220px;
    }
    .img-4 {
        grid-row: span 1;
    }

    .img-15 {
        grid-column: span 2;
    }
}


@media screen and (max-width:850px) {
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }
    .img-2 {
        grid-row: span 2;
        grid-column: span 1;
    }
}


@media screen and (max-width:600px) {
    
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}


@media screen and (max-width:500px) {
    .grid-galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
    }
}




/*------------RESPONSIVE - EVENTOS --------------*/

@media screen and (max-width:991px) {
    .eventos-r {
        height: 400px;
    }

    .eventos1 {
        height: 400px;
    }
}

@media screen and (max-width:841px) {
    .eventos-r p {
        font-size: 16px;
    }
    .eventos1 p {
        font-size: 16px;
    }
    .eventos-r div a {
        font-size: 20px;
        padding: 6px;
    }
    .eventos1 div a{
        font-size: 20px;
        padding: 6px;
    }
}

@media screen and (max-width:751px) {

    .eventos-r {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .eventos1 {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .eventos-r img {
        width: 400px;
        height: 500px;
        margin-bottom: 15px;
    }
    .eventos1 img {
        width: 400px;
        height: 500px;
        margin-bottom: 15px;
    }
}


@media screen and (max-width:473px) {
    .eventos-r img {
        width: 300px;
        height: 400px;
    }

    .eventos1 img {
        width: 300px;
        height: 400px;
    }

    .eventos1 p {
        font-size: 12px;
    }

    .eventos-r p{
        font-size: 12px;
    }
}






