header {

    nav {

        div {
            a {
                img {
                    height: 100px;
                }
            }
            button {
                color: white !important;
            }
        }
        
        div {
            ul {
                li {
                    a {
                        color: white !important;
                        font-family: "Atma", system-ui;
                        font-size: 18px !important;
                        font-weight:500 !important;
                    }
                }
            }

        }
    }

}