main {
    .hero {
        color: white;
        background-image: url(../img/Fondo-hero.jpeg);
        width: 100%;
        height: 550px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include flex (flex, column, center, center);

        h1 {
            font-weight: 500;
            font-size: 55px;
            border: yellow 3px solid;
            padding: 10px;
            margin-bottom: 40px;
            background-color: rgba(15, 15, 15, 0.397);

            span {
                &:nth-child(1) {
                    color: nth($pintar-colores , 1);
                }
            }

            span {
                &:nth-child(2) {
                    color: nth($pintar-colores , 2);
                }
            }

            span {
                &:nth-child(3) {
                    color: nth($pintar-colores , 3);
                }
            }

            span {
                &:nth-child(4) {
                    color: nth($pintar-colores , 4);
                }
            }
        }

        a {
            button {
                font-size: 20px;
                padding: 10px 50px;
            }
        }

        h2 {
            font-weight: 500;
            font-size: 55px;
            border: yellow 3px solid;
            padding: 10px;
            margin-bottom: 40px;
            background-color: rgba(15, 15, 15, 0.397);
        }

        p {
            font-weight: 500;
            font-style: normal;
            background-color: rgba(27, 94, 66, 0.425);
            color: white;
            font-size: 25px;
            font-style: italic;
        }
    }



    .tarjetas {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .box {
            background: linear-gradient(50deg, rgba(56, 56, 56, 0.288), white);
            width: 300px;
            height: 450px;
            border-radius: 10px;
            padding: 10px;
            margin: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            box-shadow: -3px 12px 39px -2px rgba(0,0,0,0.72);
            -webkit-box-shadow: -3px 12px 39px -2px rgba(0,0,0,0.72);
            -moz-box-shadow: -3px 12px 39px -2px rgba(0,0,0,0.72);
            transition: 0.5s;
            &:hover {
                background-color: black;
                color: white;
                transform: scale(1.1);
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 200px;
                margin-bottom: 30px;
            }

            div {
                @include flex (flex, column , center, center);
                

                button {
                    transition: 0.5s;

                    &:hover {
                        background-color: white;
                        color: rgb(255, 255, 255);
                    }

                    a {
                        color: black;
                        list-style: none;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}