main {
    .hero {
        color: white;
        background-image: url(../img/Fondo-hero.jpeg);
        width: 100%;
        height: 450px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include flex (flex, column, center, center);

        h1 {
            font-weight: 500;
        font-size: 60px;
        border: yellow 3px solid;
        padding: 18px;
        margin-bottom: 40px;
        background-color: rgba(15, 15, 15, 0.397);
        animation-iteration-count: infinite;

            span {
                &:nth-child(1) {
                    color: nth($pintar-colores , 1);
                }
            }

            span {
                &:nth-child(2) {
                    color: nth($pintar-colores , 2);
                }
            }

            span {
                &:nth-child(3) {
                    color: nth($pintar-colores , 3);
                }
            }

            span {
                &:nth-child(4) {
                    color: nth($pintar-colores , 4);
                }
            }
        }

        a {
            button {
                font-size: 20px;
                padding: 10px 50px;
            }
        }

        h2 {
            font-weight: 500;
        font-size: 50px;
        border: yellow 3px solid;
        padding: 10px;
        margin-bottom: 40px;
        background-color: rgba(15, 15, 15, 0.397);
        }

        p {
            text-align: center;
            font-weight: 500;
            font-style: normal;
            background-color: rgba(27, 94, 66, 0.425);
            color: white;
            font-size: 25px;
            font-style: italic;
        }
    }

    .calecita {
        position: relative;
        background-color: #000000;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            div {
                div {
                    img {
                        margin-top: 20px;
                    }
                }
            }
        }
        div {
            a {
                button {
                    font-size: 25px;
                    padding: 10px 30px;
                    margin: 15px;
                }
            }

        }
    }



    .tarjetas {
        background-color: #f4dfc8;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .box {
            width: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                margin-bottom: 10px;
            }

            img {
                border-radius: 15px;
                padding: 10px;
                object-fit: cover;
            }
        }
        .resenia {
            border-radius: 10px;
            box-shadow: -8px 9px 54px -16px rgba(0,0,0,0.75);
            -webkit-box-shadow: -8px 9px 54px -16px rgba(0,0,0,0.75);
            -moz-box-shadow: -8px 9px 54px -16px rgba(0,0,0,0.75);
            width: 220px;
            margin-right: 200px;
            padding: 20px;
            p {
                img {
                    margin-right: 10px;
                }
            }
        }
    }
}