.nosotros {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        p{
            margin: 20px;
            font-weight: 600;
            font-size: 24px;
        }
        img{
            height: 700px;
            border-radius: 15px;
        }
    }
    div{ 
        i{
            font-size: 40px;
        }
    }
}