@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Atma", system-ui !important; 
}

.nav-background {
    background-color: black;
}

.navbar-toggler {
    font-size: 15px;
    background-color: white !important;
}

h3 {
    margin: 0;
    text-align: center;
    background-position: center;
    background-size: cover;    
    height: 80px;
    color: rgb(12, 12, 12);
    font-weight: 600;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

$pintar-colores: 
rgb(251, 255, 28),
rgba(240, 17, 17, 0.877),
rgb(236, 72, 241),
rgb(84, 206, 243);

@mixin flex ($display, $direccion, $justify, $align){
    display: $display;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
}